/* .container {
    background-color: darkseagreen;
    margin: 20px;
    padding: 20px; */
    /* width: 350px;
      height: 725px; */
    /* box-shadow: 0 10px 10px yellow;
    border-radius: 15px;
    color:darkgreen */
      /* font-weight: 500px; */
      /* &:hover {
      box-shadow: 0 10px 10px white;
    }
  } */
  
  /* .container img {
      width: 130px;
      box-shadow: 0 10px 10px black;
      border-radius: 5px;
    }
  
  .buttonx:hover {
    background-color: darkgreen;
    margin: 10px;
    padding: 10px;
    width: 43px;
    color: red;
    font-weight: 300px;
  }
  .button:hover {
    background-color: darkgreen;
    margin: 10px;
    padding: 10px;
  } */


  body {
    /* background-color: dimgrey; */
    font-family: "Times New Roman", Times, serif;
    color: white;
  }
  
  .card_container__div {
    border: 3px solid rgb(161, 62, 247);
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    width: 280px;
    height: 440px;
    text-align: center;
    position: relative;
    background: transparent;
    backdrop-filter: blur(15px);
    
    
  }
  
  .card_container__div:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    -webkit-box-shadow: 0px 0px 34px 7px rgb(252, 75, 255);
    -moz-box-shadow: 0px 0px 34px 7px rgb(255, 118, 255);
    box-shadow: 0px 0px 34px 7px rgb(228, 75, 255);
  }
  .card_container__div:not(:hover) {
    transition: transform 0.3s ease;
  }
  
  .card_container__div_buttonx {
    background-color: dimgray;
    color: white;
    padding: 5px;
    outline: none;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    border: 2px solid black;
    border-radius: 50%;
    margin-left: 10px;
  }
  
  .card_container__div_button_cor {
    background-color: dimgray;
    color: white;
    padding: 5px;
    outline: none;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 10px;
  }
  .card_container__div_buttonx:hover {
    cursor: pointer;
    background-color: rgb(174, 62, 255);
  }
  
  .card_container__div_button_cor:hover {
    cursor: pointer;
    background-color: rgb(238, 47, 255);
  }
  
  .card_container__div_text img {
    border: 2px solid rgb(238, 47, 255);
    border-radius: 50px;
  }
  
  .card_container__div_img {
    margin-top: 20px;
    width: 180px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    
  }
  .card_container__div_text {
    text-align: center;
    font-family: cursive;
    color: rgb(241, 114, 255);
    font-size: 15px;
  }
  
  .card_container__div_text:hover {
    cursor: default;
  }
  
  .card_container__div_text h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .card_container__div_text h4 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 7px;
  }