.a{
    color: rgb(255, 164, 99);
    font-size: 45px;
    font-family: 'Franklin Gothic Medium';
}

.p{
    color: tomato;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium';
}
.h1{
    color: rgb(227, 80, 109);
    font-size: 60px;
    font-family: 'Franklin Gothic Medium';
}